<ng-include src="'shared/nav/navtop.html'"></ng-include>
<div class="row" ng-app="">
    <div class="col-xs-2">
        <pam-note-list></pam-note-list>
    </div>
    <div class="col-xs-6 col-xs-offset-1">
        <div class="result">
            <u><h1>{{results.title}}</h1></u>
            <div class="results">
              <pam-data note="results.content"></pam-data>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-show="alert">
    <div class="col-xs-6 col-xs-offset-3">
        <span class="red-alert center-me">{{alert}}</span>
    </div>
</div>
<div class="row">
    <div class="col-xs-12" style="height: 10%"></div>
</div>
<ng-include src="'shared/nav/navbottom.html'"></ng-include>
