<ng-include src="'shared/nav/nav.html'"></ng-include>
<div class="row" ng-app="">
    <div class="col-xs-2"></div>
    <div class="col-xs-6 col-xs-offset-1">
        <pam-subject-list-radio></pam-subject-list-radio>
    </div>
</div>
<br />
<div clas="row">
    <div class="col-xs-6 col-xs-offset-3">
        <span class="pull-right delete-button" ng-click="delete()"><i class="fa fa-eraser fa-2x"></i>
        </span>
        <span class="pull-right edit-button" ng-click="edit()"><i class="fa fa-pencil-square-o fa-2x"></i>
        </span>

    </div>
</div>
<div class="row" ng-show="alert">
    <div class="col-xs-12" class="center-me">
        <span class="red-alert">{{alert}}</span>
    </div>
</div>
