<ng-include src="'shared/nav/nav.html'"></ng-include>
<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <form ng-submit="search()">
            <input type="text" ng-model="searchTerm" class="form-control" placeholder="Something important...">
            <input type="submit" class="hide-submit">
        </form>
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        <div class="row">
            <div class="col-xs-2 subject-header">
                <div><h3>Subjects</h3></div>
            </div>
        </div>
        <form>
            <div ng-repeat="sub in subList" class="col-xs-2 subject-list">
                <pam-subject-list-check></pam-subject-list-check>
            </div>
        </form>
    </div>
    <div class="row" ng-show="alert">
        <div class="col-xs-6">
            <div class="center-me red-alert">{{alert}}</div>
        </div>
    </div>
    <div class="col-xs-6 col-xs-offset-1" ng-show="results">
        <p>{{count}} result(s) found.</p>
        <div class="result" ng-repeat="result in results">
            <div class="row">
                <h3>
                    <a ng-href="/#/notes/{{result.id}}">{{result.title}}</a>
                    <div class="pull-right delete-button" ng-click="delete(result.id)">
                        <i class="fa fa-eraser fa-lg" ></i>
                    </div>
                </h3>
            </div>
            <div class="row">
                <div class="result-content">
                    <p ng-bind-html="result.content"></p>
                </div>
            </div>
        </div>
        <div class="center-me show-more" ng-show="moreResults">
            <span style="cursor: pointer" ng-click="more()">Show more...</span>
        </div>
    </div>
</div>
