<div class="navbar navbar-fixed-bottom navbar-default navbar-bottom" role="navigation">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <div class="navbar-footer">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="pull-right delete-button" style="margin-top: 5px" ng-click="delete()"><i class="fa fa-eraser fa-2x"></i></span>
                <span class="pull-right edit-button" style="margin-top: 5px" ng-click="edit()"><i class="fa fa-pencil-square-o fa-2x"></i></span>
            </div>
        </div>
    </div>
</div>